@charset 'UTF-8';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
/* base */
html {
  font-size: 62.5%;
}
body{
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: .1rem;
  color: #12427d;
  background-color: #d8efff;
}

/* font */
.pacifico {
  font-family: 'Pacifico', cursive;
}
/* align */
.text-center {
  text-align: center;
}
.br:before {
	content: "\A" ;
	white-space: pre ;
}

/* layout */
.container,#registration_button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* header */
#header-inner {
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 80px 0;
  background: url(../images/img_header.jpg),no-repeat,0,0;
  background-size: cover;
}
#header-inner h1 {
  font-size: 5rem;
  color: #ffe99b;
  letter-spacing: .3rem;
  margin-bottom: 60px;
}
#header-inner p {
  font-size: 1.6rem;
  color: #ddd;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
  padding: 30px 180px;
}

/* contents */
section {
  padding: 80px 0;
}
section .container {
  width: 94%;
  margin: 0 auto;
}
section h2 {
  font-size: 2.3rem;
}

/* point */
#point h2 {
  margin-bottom: 60px;
}
#point h2 i {
  font-size: 4rem;
  margin-right: 3.5px;
  vertical-align: top;
}
#point .container{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
#point .point-box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1;
  flex: 1;
  margin: 0px 10px;
  border: solid 0.5rem #ffe99b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #4c4c4c;
  background-color: #fff;
}
#point .point-title {
  height: 40px;
  background-color: #ffe99b;
}
#point .point-text {
  padding: 25px;
}
#point .point-title i {
  font-size: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right:5px;
  padding-top: 10px;
  text-align: center;
}
#point h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

/* registration */
#registration {
  background-color: #fff;
}
#registration h2 i {
  font-size: 2.5rem;
  margin-right: 3.5px;
  padding: 5px;
  border: solid 0.2rem #12427d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#registration_button {
  background-color: #12427d;
  color: #FFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  width: 280px;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 10px 0;
}
#registration_button a {
  display: block;
  color: #fff;
  text-decoration: none;
}
#registration_button:hover {
  background-color: #0c2c54;
}
/* Footer */
footer {
  padding: 10px 0;
  color: #333;
  background-color: #ddd;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  /* header */
  #header-inner {
    height: 250px;
    margin: 0 auto;
    padding: 30px 0;
  }
  #header-inner h1 {
    font-size: 4rem;
    letter-spacing: .2rem;
    margin-bottom: 30px;
  }
  #header-inner p {
    font-size: 1.2rem;
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    padding: 0 80px;
  }
  /* contents */
  section {
    padding: 35px 0;
  }
  section h2 {
    font-size: 2.4rem;
  }
  /* contents */
  /* point */
  #point h2 {
    margin-bottom: 30px;
  }
  #point h2 i {
    font-size: 3.3rem;
    margin-right: 1.5px;
    margin-top: 1.5px;
  }
  #point .container{
    flex-direction: column;
  }
  #point .point-box{
    margin-bottom: 20px;
  }
  #point .point-title {
    height: 40px;
    background-color: #ffe99b;
  }
  #point .point-text {
    padding: 15px;
  }
  /* registration */
  #registration {
    background-color: #fff;
  }
  #registration h2 {
    font-size: 1.8rem;
    letter-spacing: 0;
  }
  #registration h2 i {
    font-size: 2rem;
    margin-right: 2.3px;
  }
  #registration_button {
    margin-bottom: 40px;
  }
  #registration_button:hover {
    background-color: #12427d;
    text-decoration: underline;
  }
  /* Footer */
  footer {
    font-size: 1.2rem;
  }
}
